@font-face {
  font-family: "inter-bold";
  src: url("../fonts/integralcf-bold.otf");
}
@font-face {
  font-family: "inter-regular";
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "inter-semibold";
  src: url("../fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "luckiest-guy";
  src: url("../fonts/LuckiestGuy-Regular.ttf");
}
@font-face {
  font-family: "cabin-regular";
  src: url("../fonts/Cabin-Regular.ttf");
}
@font-face {
  font-family: "mogra-regular";
  src: url("../fonts/Mogra-Regular.ttf");
}
@font-face {
  font-family: "m-plus-2";
  src: url("../fonts/MPLUS2-Regular.ttf");
}
@font-face {
  font-family: "lalezar";
  src: url("../fonts/LaLezar-Regular.ttf");
}
.inter-bold {
  font-family: "inter-bold";
}
.inter-regular {
  font-family: "inter-regular";
}
.inter-semibold {
  font-family: "inter-semibold";
}
.luckiest-guy {
  font-family: "luckiest-guy";
}
.cabin-regular {
  font-family: "cabin-regular";
}
.mogra-regular {
  font-family: "mogra-regular";
}
.m-plus-2 {
  font-family: "m-plus-2";
}
.lalezar-font {
  font-family: "lalezar";
}
.slider-text {
  font-size: 52px;
}
.product-container {
  height: 310px;
  background-size: cover;
  background-position: center;
}
.image-style-big-container {
  background-color: white;
  height: 300px;
}
.img-style {
  width: 100%;
  height: 100%;
  object-fit: none;
}
.style-title {

}
.casual img {

}
.formal img {
  
}
.party img {

}
.gym img {

}